<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDTS - 1.0</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

<body>

    <div class="mainC">


        <header>

            <div class="container"><img src="/images/logo.jpg"><span style="color:white; font-size: medium; vertical-align: bottom;"> Exam Development & Testing Services</span>
            @if (Request.IsAuthenticated)
            {
               @Html.ActionLink("Log Out", "Logout", "Person")
            }
           @*else
           {
              @Html.ActionLink("Register", "Register", "User")
              <span> | </span>
              @Html.ActionLink("Log In", "Login", "User")
           }*@
            
            </div>

        </header>
        <div class="container body-content">

            @RenderBody()
            <hr />


            <footer>



                <div class="container">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h5 class="text-center copyright">Copyright Spring 2015 Group Project     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  All Rights Reserved</h5>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h5 class="text-center copyright text-right">Contact Us</h5>
                    </div>


                </div>


            </footer>

        </div>
    </div>
</body>
</html>

