@{
    ViewBag.Title = "Home";
}

<h3><b>Welcome to Exam Development & Testing Services</b></h3>


    <div class="row">
        <div class="col-md-10">

            <p>
                EDTS has been designed and developed by the advanced systems design and implementation classes of the USA graduate IS program.The system is based on beliefs that a curriculum should be built on a body of knowledge which specifies major areas of knowledge.A skill set is specified based on the body of knowledge to represent capabilities of graduates completing the program. A sequence of sections containing courses would be completed to assure coverage of desired material.Proficiency of student at the course level can be assessed by proof of capability at the course outcome level and ultimately by being able to satisfy skill requirements.Faculty and program sufficiency can also be assessed by analyzing aggregate student performances.
            </p>
        </div>
    </div>


